@using System.Globalization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<TopMenuStart> Localizer

<BarItem>
    <Button @onclick="() => NavigateToInfoPage(sAbout)" Style="font-size:1rem!important; padding-top:0!important">
        <BarIcon IconName="IconName.QuestionCircle" IconSize="IconSize.Large" />
        @Localizer["about"]
    </Button>
</BarItem>
<BarItem>
    <Button @onclick="() => NavigateToInfoPage(sCredit)" Style="font-size:1rem!important; padding-top:0!important">
        <BarIcon IconName="IconName.InfoCircle" IconSize="IconSize.Large" />
        @Localizer["credits"]
    </Button>
</BarItem>
@* <BarItem>
    <Button Style="font-size:1rem!important; padding-top:0!important">
        <BarIcon IconName="IconName.Desktop" IconSize="IconSize.Large" />
        @Localizer["using"]
    </Button>
</BarItem> *@
<BarItem>
    <Button @onclick="() => NavigateToInfoPage(sTeam)" Style="font-size:1rem!important; padding-top:0!important">
        <BarIcon IconName="IconName.UserFriends" IconSize="IconSize.Large" />
        @Localizer["team"]
    </Button>
</BarItem>
@* <BarItem>
    <Tooltip Text="Click to copy a link to the current object. Paste in an email or social media message." Multiline=true Fade=true Placement="TooltipPlacement.Bottom">
        <Button Clicked="@OnShare" Style="font-size:1rem!important; padding-top:0!important">
            <BarIcon IconName="IconName.ShareAlt" IconSize="IconSize.Large" />
            @Localizer["share"]
        </Button>
    </Tooltip>
</BarItem>
<BarItem>
    <Tooltip Text="Click to start an email about the current display" Multiline=true Fade=true Placement="TooltipPlacement.Bottom">
        <Link To="@mailURI" Clicked="@buildComment" Class="btn" Target="Target.Blank" Style="font-size:1rem!important; padding-top:0!important">
        <BarIcon IconName="IconName.CommentAlt" IconSize="IconSize.Large" />
            @Localizer["comment"]
        </Link>
    </Tooltip>
</BarItem> *@
@code {
    [Inject] NavigationManager Navigation { get; set; }
    [Inject] IJSRuntime JS { get; set; }
    [Inject] INotificationService NotificationService { get; set; }
    [CascadingParameter] Dictionary<string, object> globals { get; set; }
    RenderFragment dhdevIcon =@<img src="/Images/logo_white_background_cut.jpg" style="width:44px; height: 32px" />;
    RenderFragment meterIcon =@<img src="/Images/noun_meter system_2596699.png" style="width:44px; height: 32px" />;
    Version version = typeof(Program).Assembly.GetName().Version;
    string mailURI = "";
    const string sAbout = "AboutRef";
    const string sCredit = "CreditsRef";
    const string sTeam = "TeamRef";

    private void NavigateToInfoPage(string part)
    {
        Navigation.NavigateTo($"/Info_l/{part}");
    }

    async Task OnShare()
    {
        string link = "Link not yet implemented"; //((string)clientUtils.getfromGlobals("link2Share", globals)) ?? Navigation.BaseUri;
        await JS.InvokeVoidAsync("navigator.clipboard.writeText", link);
        await NotificationService.Success("A link has been placed on the Clipbooard. Paste it anywhere to share.", "Sharing");
    }
    void buildComment()
    {
        //mailURI = clientUtils.getMailURI(globals);
    }

}