@using System.IO;
@inject IJSRuntime JSRuntime
@inject NavigationManager navigationManager

<Div Class="listControl smallControl">
    <Row Margin="Margin.Is1.FromTop">
        <Column>
            <h3>@caption</h3>
        </Column>
        <Column>
            <Button Class="controlButton" Clicked="@OnClearAll">@clear</Button>
            <Button Class="controlButton" Clicked="@OnSelectAll">@all</Button>
        </Column>
    </Row>
    <Row>
        <Column>
            @if (globalService.EditionFiles != null && globalService.EditionFiles.Count > 0)
            {
                <TreeView Nodes="globalService.EditionFiles"
                          TNode="clsEditionFile"
                          GetChildNodes="@(item => item.children)"
                          HasChildNodes="@(item => item.children?.Any() == true)"
                          SelectionMode="TreeViewSelectionMode.Multiple"
                          SelectedNodes="selectedNodes"
                          SelectedNodesChanged="selectedNodesChanged">
                    <NodeContent>
                        <Icon Name="IconName.Book" />
                        <Button Class="linkStyle" @onclick="() => NavigateToFile(context.name)">@context.title</Button>
                    </NodeContent>
                </TreeView>
            }
            else
            {
                <p>Loading...</p>
            }
        </Column>
    </Row>
</Div>

@code {
    [Inject] GlobalService globalService { get; set; }
    [Parameter] public string caption { get; set; }
    [Parameter] public string clear { get; set; }
    [Parameter] public string all { get; set; }
    List<clsEditionFile> selectedNodes = new List<clsEditionFile>();

    protected override void OnInitialized()
    {
        globalService.OnGlobalEditionsChanged += HandleGlobalEditionsChange;
    }
    public void Dispose()
    {
        globalService.OnGlobalEditionsChanged -= HandleGlobalEditionsChange;
    }
    private void HandleGlobalEditionsChange()
    {
        foreach (clsEditionFile edition in globalService.EditionFiles)
        {
            if (edition.selected) selectedNodes.Add(edition);
        }
        StateHasChanged();
    }
    private async void NavigateToFile(string fileName)
    {
        var url = $"/Edition/{fileName}";
        await JSRuntime.InvokeVoidAsync("open", navigationManager.ToAbsoluteUri(url), "_blank");
        // if (!globalService.TEILoadedOnce) navigationManager.NavigateTo($"/Edition/{fileName}", false);
        // else navigationManager.NavigateTo($"/Edition/{fileName}", true);
    }
    private void selectedNodesChanged(IList<clsEditionFile> nodes)
    {
        foreach (clsEditionFile node in globalService.EditionFiles)
        {
            node.selected = nodes.Contains(node);
        }
        globalService.updateStoriesAndPoints();
    }
    Task OnClearAll()
    {
        foreach (clsEditionFile node in globalService.EditionFiles)
            node.selected = false;
        selectedNodes.Clear();
        globalService.updateStoriesAndPoints();
        return Task.CompletedTask;
    }
    Task OnSelectAll()
    {
        selectedNodes.Clear();
        foreach (clsEditionFile node in globalService.EditionFiles)
        {
            node.selected = true;
            selectedNodes.Add(node);
        }
        globalService.updateStoriesAndPoints();
        return Task.CompletedTask;
    }

}
