<Div Class="listControl smallControl">
    <Row Margin="Margin.Is1.FromTop">
        <Column>
            <h3>@caption</h3>
        </Column>
        <Column>
            <Button Class="controlButton" Clicked="@OnClearAll">@clear</Button>
            <Button Class="controlButton" Clicked="@OnSelectAll">@all</Button>
        </Column>
    </Row>
    <Row>
        <Column>
            @if (globalService.Persons != null && globalService.Persons.Count > 0 && globalService.Persons.hasNames)
            {
                <TreeView Nodes="globalService.Persons"
                          TNode="clsPerson"
                          GetChildNodes="@(item => item.children)"
                          HasChildNodes="@(item => item.children?.Any() == true)"
                          SelectionMode="TreeViewSelectionMode.Multiple"
                          SelectedNodes="selectedNodes"
                          SelectedNodesChanged="selectedNodesChanged">

                    <NodeContent>
                        <Icon Name="IconName.IdCard" />
                        @context.name
                    </NodeContent>
                </TreeView>
            }
            else
            {
                <p>Loading...</p>
            }
        </Column>
    </Row>
</Div>



@code {
    [Inject] GlobalService globalService { get; set; }
    [Parameter] public string caption { get; set; }
    [Parameter] public string clear { get; set; }
    [Parameter] public string all { get; set; }
    IList<clsPerson> selectedNodes = new List<clsPerson>();
    protected override void OnInitialized()
    {
        globalService.OnGlobalPersonsChanged += HandleGlobalPersonsChange;
    }
    public void Dispose()
    {
        globalService.OnGlobalThemesChanged -= HandleGlobalPersonsChange;
    }
    private void HandleGlobalPersonsChange()
    {
        foreach (clsPerson person in globalService.Persons)
        {
            if (person.selected) selectedNodes.Add(person);
        }
        StateHasChanged();
    }
    private void selectedNodesChanged(IList<clsPerson> nodes)
    {
        foreach (clsPerson node in globalService.Persons)
        {
            node.selected = nodes.Contains(node);
        }
        globalService.updateStoriesAndPoints();
    }
    Task OnClearAll()
    {
        foreach (clsPerson node in globalService.Persons)
            node.selected = false;
        selectedNodes.Clear();
        globalService.updateStoriesAndPoints();
        return Task.CompletedTask;
    }
    Task OnSelectAll()
    {
        selectedNodes.Clear();
        foreach (clsPerson node in globalService.Persons)
        {
            node.selected = true;
            selectedNodes.Add(node);
        }
        globalService.updateStoriesAndPoints();
        return Task.CompletedTask;
    }
}
