@inject IJSRuntime JSRuntime
@inject NavigationManager navigationManager
<Div Class="basicControl smallControl">
    <Row Margin="Margin.Is1.FromTop">
        <Column Class="smallControlCol">
            <h3>@caption</h3>
        </Column>
        <Column Class="smallControlCol">
            <Button Class="controlButton" Clicked="@OnClearAll">@clear</Button>
            <Button Class="controlButton" Clicked="@OnSelectAll">@all</Button>
        </Column>
    </Row>
    <Row>
        <Column Class="smallControlCol">
            @if (globalService.Persons != null && globalService.Persons.Count > 0 && globalService.Persons.hasNames)
            {
                <Div Class="internalControlSmall">
                    <TreeView Nodes="globalService.Persons"
                              TNode="clsPerson"
                              id="peopleTree"
                              GetChildNodes="@(item => item.children)"
                              HasChildNodes="@(item => item.children?.Any() == true)"
                              SelectionMode="TreeViewSelectionMode.Multiple"
                              SelectedNodes="selectedNodes"
                              SelectedNodesChanged="selectedNodesChanged">

                        <NodeContent>
                            <Icon Name="IconName.IdCard" />
                            <Button Class="linkStyle" @onclick="() => NavigateToPerson(context.link)">@context.name</Button>
                        </NodeContent>
                    </TreeView>
                </Div>
            }
            else
            {
                <Spinner cClass="spinContainerSmall" />
            }
        </Column>
    </Row>
</Div>



@code {
    [Inject] GlobalService globalService { get; set; }
    [Parameter] public string caption { get; set; }
    [Parameter] public string clear { get; set; }
    [Parameter] public string all { get; set; }
    IList<clsPerson> selectedNodes = new List<clsPerson>();
    bool firstTime = true;

    protected override void OnInitialized()
    {
        globalService.OnGlobalPersonsChanged += HandleGlobalPersonsChange;
    }
    public void Dispose()
    {
        globalService.OnGlobalPersonsChanged -= HandleGlobalPersonsChange;
    }
    private void HandleGlobalPersonsChange()
    {
        selectedNodes.Clear(); //because this is called twice, when gs.Persons is set in ProcessStoryInfo and when gs.Persons is updated in ProcessAuthorities
        foreach (clsPerson person in globalService.Persons)
        {
            if (person.selected) selectedNodes.Add(person);
        }
        StateHasChanged();
    }
    private void selectedNodesChanged(IList<clsPerson> nodes)
    {
        foreach (clsPerson node in globalService.Persons)
        {
            if (nodes.Contains(node)) selectNode(node);
            else unSelectNode(node);
        }
        globalService.updateStoriesAndPoints();
    }
    Task OnClearAll()
    {
        foreach (clsPerson node in globalService.Persons)
            node.selected = false;
        selectedNodes.Clear();
        globalService.updateStoriesAndPoints();
        return Task.CompletedTask;
    }
    Task OnSelectAll()
    {
        selectedNodes.Clear();
        foreach (clsPerson node in globalService.Persons)
            selectNode(node);
        globalService.updateStoriesAndPoints();
        return Task.CompletedTask;
    }
    void selectNode(clsPerson node)
    {
        node.selected = true;
        if (!selectedNodes.Contains(node)) selectedNodes.Add(node);
    }
    void unSelectNode(clsPerson node)
    {
        node.selected = false;
        if (selectedNodes.Contains(node)) selectedNodes.Remove(node);
    }
    private async void NavigateToPerson(string url)
    {
        await JSRuntime.InvokeVoidAsync("open", navigationManager.ToAbsoluteUri(url), "_blank");
    }
}
