@inject IJSRuntime JSRuntime
@inject NavigationManager navigationManager
<Div Class="basicControl smallControl">
    <Row Margin="Margin.Is1.FromTop" Class="topControlRow">
        <Column ColumnSize="ColumnSize.Is4" Class="smallControlCol">
            <h3>@caption</h3>
            <AndOrRadio SelectedValueChanged="OnLogicalOperatorChanged" SelectedValue="globalService.logicalOperatorPeople" Disabled="@(!globalService.isPeopleFiltered)" />
        </Column>
        <Column ColumnSize="ColumnSize.Is8" Class="smallControlCol">
            <div style="display:flex; align-items:center; gap:0.5rem;">
                <Button Class="controlButton" Clicked="@OnClearAll" Disabled="@(!globalService.isPeopleFiltered)">@clear</Button>
                <Button Class="controlButton" Clicked="@OnSelectAll" Disabled="@(!globalService.isPeopleFiltered)">@all</Button>
                <RadioGroup TValue="bool" Name="peopleFilter" CheckedValue="@globalService.isPeopleFiltered" CheckedValueChanged="@onPeopleFilterChange">
                    <div class="filterRadios" style="display:flex; flex-direction:column; gap:0; line-height:1.2;">
                        <Radio TValue="bool" Value="false">Unfiltered</Radio>
                        <Radio TValue="bool" Value="true">Filtered</Radio>
                    </div>
                </RadioGroup>
            </div>
        </Column>
    </Row>
    <Row>
        <Column Class="smallControlCol">
            @if (globalService.Persons != null && globalService.Persons.Count > 0 && globalService.Persons.hasNames)
            {
                <Div Class="internalControl internalPeopleControl" Style="@(!globalService.isPeopleFiltered ? "pointer-events: none; opacity: 0.6" : "")">
                    <TreeView Nodes="globalService.Persons"
                              TNode="clsPerson"
                              id="peopleTree"
                              GetChildNodes="@(item => item.children)"
                              HasChildNodes="@(item => item.children?.Any() == true)"
                              SelectionMode="TreeViewSelectionMode.Multiple"
                              SelectedNodes="selectedNodes"
                              SelectedNodesChanged="selectedNodesChanged">

                        <NodeContent>
                            @if (Utils.isItemVisible(context))
                            {
                                <Icon Name="IconName.IdCard" />
                                <Button Class="linkStyle" @onclick="() => NavigateToPerson(context.link)">@context.name</Button>
                            }
                        </NodeContent>
                    </TreeView>
                </Div>
            }
            else
            {
                <Spinner cClass="spinContainerSmall" />
            }
        </Column>
    </Row>
</Div>



@code {
    [Inject] GlobalService globalService { get; set; }
    [Parameter] public string caption { get; set; }
    [Parameter] public string clear { get; set; }
    [Parameter] public string all { get; set; }
    IList<clsPerson> selectedNodes = new List<clsPerson>();
    bool firstTime = true;


    protected override void OnInitialized()
    {
        globalService.OnGlobalPersonsChanged += HandleGlobalPersonsChange;
    }
    public void Dispose()
    {
        globalService.OnGlobalPersonsChanged -= HandleGlobalPersonsChange;
    }
    private void HandleGlobalPersonsChange()
    {
        selectedNodes.Clear(); //because this is called twice, when gs.Persons is set in ProcessStoryInfo and when gs.Persons is updated in ProcessAuthorities
        foreach (clsPerson person in globalService.Persons)
        {
            if (person.selected) selectedNodes.Add(person);
        }
        StateHasChanged();
    }
    private void selectedNodesChanged(IList<clsPerson> nodes)
    {
        foreach (clsPerson node in globalService.Persons)
        {
            if (nodes.Contains(node)) selectNode(node);
            else unSelectNode(node);
        }
        globalService.updateStoriesAndPoints();
    }
    Task OnClearAll()
    {
        foreach (clsPerson node in globalService.Persons)
            node.selected = false;
        selectedNodes.Clear();
        globalService.updateStoriesAndPoints();
        return Task.CompletedTask;
    }
    Task OnSelectAll()
    {
        selectedNodes.Clear();
        foreach (clsPerson node in globalService.Persons)
            selectNode(node);
        globalService.updateStoriesAndPoints();
        return Task.CompletedTask;
    }
    void selectNode(clsPerson node)
    {
        node.selected = true;
        if (!selectedNodes.Contains(node)) selectedNodes.Add(node);
    }
    void unSelectNode(clsPerson node)
    {
        node.selected = false;
        if (selectedNodes.Contains(node)) selectedNodes.Remove(node);
    }
    private async void NavigateToPerson(string url)
    {
        await JSRuntime.InvokeVoidAsync("open", navigationManager.ToAbsoluteUri(url), "_blank");
    }
    private void onPeopleFilterChange(bool value)
    {
        globalService.isPeopleFiltered = value;
        globalService.updateStoriesAndPoints();
    }
    private void OnLogicalOperatorChanged(LogicalOperator newValue)
    {
        globalService.logicalOperatorPeople = newValue;
        if (newValue == LogicalOperator.And) OnClearAll();
        else OnSelectAll();
    }
}
