@inject NavigationManager navigationManager
@inject IJSRuntime JSRuntime
<Div Class="basicControl bigControl">
    <Row Margin="Margin.Is1.FromTop">
        <Column ColumnSize="ColumnSize.Is4">
            <h3>@caption</h3>
        </Column>
        <Column ColumnSize="ColumnSize.Is4">
            <Div Class="counts">@counts</Div>
        </Column>
        <Column ColumnSize="ColumnSize.Is4">
            <Button Class="controlButton" Clicked="@OnCollapse">@close</Button>
        </Column>
    </Row>
    <Row>
        <Column>
            @if (globalService.DisplayStoryTexts != null)
            {
                <Div Class="internalControl">
                    <Accordion>
                        @for (int i = 0; i < globalService.DisplayStoryTexts.editions.Count; i++)
                        {
                            clsEditionStories edition = globalService.DisplayStoryTexts.editions[i];
                            if (edition.display)
                            {
                                <AccordionItem @bind-Visible="expandedItems[i]">
                                    <AccordionHeader>
                                        <Heading Size="HeadingSize.Is6"><AccordionToggle Clicked="(args)=>OnItemClicked(args,edition.iEdition)">@edition.name</AccordionToggle></Heading>
                                    </AccordionHeader>
                                    <AccordionBody>
                                        @foreach (clsStoryText story in edition.stories)
                                        {
                                            if (story.display)
                                            {
                                                <p class="pStory" id=@($"{story.id}") @onclick="(() => HandleStoryClick(edition.name, story.id))">
                                                    <Span Class="firstWord">@firstWord(story.text) </Span>@theRest(story.text) [...]
                                                </p>
                                            }
                                        }
                                    </AccordionBody>
                                </AccordionItem>
                            }
                        }
                    </Accordion>
                </Div>
            }
            else
            {
                <Spinner cClass="spinContainer"/>
            }
        </Column>
    </Row>
</Div>
@code {
    [Inject] GlobalService globalService { get; set; }
    [Parameter] public string caption { get; set; }
    [Parameter] public string close { get; set; }
    string counts;
    List<bool> expandedItems = new List<bool>();

    protected override async Task OnInitializedAsync()
    {
        globalService.OnStoriesToDisplayChanged += HandleDisplayStoriesChanged;
    }
    public void Dispose()
    {
        globalService.OnStoriesToDisplayChanged -= HandleDisplayStoriesChanged;
    }

    private void HandleDisplayStoriesChanged()
    {
        expandedItems = new List<bool>();
        for (int i = 0; i < globalService.DisplayStoryTexts.editions.Count; i++)
        {
            expandedItems.Add(true);
        }
        counts = globalService.DisplayStoryTexts.counts;
        StateHasChanged();
    }

    private async void HandleStoryClick(string editionName, string storyId)
    {
        string fileName = globalService.EditionFiles.getFileName(editionName);

        var url = $"/Story/{fileName}/{storyId}";
        await JSRuntime.InvokeVoidAsync("open", navigationManager.ToAbsoluteUri(url), "_blank");
    }

    private string firstWord(string text)
    {
        return text.Trim().Split(' ')[0] + " ";
    }
    private string theRest(string text)
    {
        return string.Join(' ', text.Trim().Split(' ').Skip(1));
    }
    Task OnCollapse()
    {
        for (int i = 0; i < expandedItems.Count; i++)
            expandedItems[i] = false;
        return Task.CompletedTask;
    }

    private void OnItemClicked(MouseEventArgs e, int id)
    {
        expandedItems[id] = !expandedItems.ElementAt(id);
        StateHasChanged();
    }
}
