@using System.Text.Json
@using System.Globalization;

@inject NavigationManager navigationManager
@inject IJSRuntime JSRuntime
<Div Class="basicControl bigControl">
    <Row Margin="Margin.Is1.FromTop" Class="topControlRow">
        <Column ColumnSize="ColumnSize.Is4">
            <h3>@caption</h3>
        </Column>
        <Column ColumnSize="ColumnSize.Is4">
            <Div Class="counts">@counts</Div>
        </Column>
        <Column ColumnSize="ColumnSize.Is4">
            <Button Class="controlButton" Clicked="@OnCollapse">@close</Button>
        </Column>
    </Row>
    <Row>
        <Column>
            @if (globalService.DisplayStoryTexts != null)
            {
                <Div Class="internalControl internalStoriesControl">
                    <Accordion>
                        @{ int index = 0; }
                        @foreach (clsEditionStories edition in editions)
                        {
                            int currentIndex = index;
                            <AccordionItem @bind-Visible="expandedItems[currentIndex]">
                                <AccordionHeader>
                                    <Heading Size="HeadingSize.Is6"><AccordionToggle>@localEditionName(edition.name)</AccordionToggle></Heading>
                                </AccordionHeader>
                                <AccordionBody>
                                    @foreach (clsStoryText story in edition.stories)
                                    {
                                        if (story.display)
                                        {
                                            <p class="pStory" id=@($"{story.id}") @onclick="(() => HandleStoryClick(edition.name, story.id))">
                                                <Span Class="firstWord">@firstWord(story.text) </Span>@theRest(story.text) [...]
                                            </p>
                                        }
                                    }
                                </AccordionBody>
                            </AccordionItem>
                            index++;
                        }
                    </Accordion>
                </Div>
            }
            else
            {
                <Spinner cClass="spinContainer" />
            }
        </Column>
    </Row>
</Div>
@code {
    [Inject] GlobalService globalService { get; set; }
    [Parameter] public string caption { get; set; }
    [Parameter] public string close { get; set; }
    string counts; string lang = "";
    List<bool> expandedItems = new List<bool>();
    List<clsEditionStories> editions;

    protected override async Task OnInitializedAsync()
    {
        globalService.OnStoriesToDisplayChanged += HandleDisplayStoriesChanged;
        if (CultureInfo.CurrentCulture.Name == "he-IL") lang = "he";
        else lang = "en";
    }
    public void Dispose()
    {
        globalService.OnStoriesToDisplayChanged -= HandleDisplayStoriesChanged;
    }

    private void HandleDisplayStoriesChanged()
    {
        expandedItems = new List<bool>();
        editions = globalService.DisplayStoryTexts.editions
            .Where(e => e.display && e.stories.Any(s => s.display))
            .OrderBy(e => e.name)
            .ToList();

        for (int i = 0; i < editions.Count; i++)
        {
            expandedItems.Add(true);
        }

        counts = globalService.DisplayStoryTexts.counts;
        StateHasChanged();
    }
    private async void HandleStoryClick(string editionName, string storyId)
    {
        // Save necessary state to localStorage
        List<clsPlace> places = globalService.Places.storyPlaces(storyId);
        clsGeoJson points = new clsGeoJson();
        Feature point = new Feature();
        if (places.Count == 0) points.data.Add(point);
        else
            foreach (clsPlace place in places)
            {
                point = globalService.Points.data.featureById(place.xmlref);
                point.selected = true;
                points.data.Add(point);
                place.name = point.properties.name;
            }

        await JSRuntime.InvokeVoidAsync("localStorage.setItem", "places",
            JsonSerializer.Serialize(places,
            new JsonSerializerOptions { IncludeFields = true }));
        await JSRuntime.InvokeVoidAsync("localStorage.setItem", "points",
            JsonSerializer.Serialize(points,
            new JsonSerializerOptions { IncludeFields = true }));
        await JSRuntime.InvokeVoidAsync("localStorage.setItem", "themes",
            JsonSerializer.Serialize(globalService.Themes.storyThemes(storyId),
            new JsonSerializerOptions { IncludeFields = true }));
        await JSRuntime.InvokeVoidAsync("localStorage.setItem", "people",
            JsonSerializer.Serialize(globalService.Persons.storyPeople(storyId),
            new JsonSerializerOptions { IncludeFields = true }));

        //Open story in new tab
        string fileName = globalService.EditionFiles.getFileName(editionName);
        var url = $"/Story/{fileName}/{storyId}";
        await JSRuntime.InvokeVoidAsync("open", navigationManager.ToAbsoluteUri(url), "_blank");
    }

    private string firstWord(string text)
    {
        return text.Trim().Split(' ')[0] + " ";
    }
    private string theRest(string text)
    {
        return string.Join(' ', text.Trim().Split(' ').Skip(1));
    }
    Task OnCollapse()
    {
        for (int i = 0; i < expandedItems.Count; i++)
            expandedItems[i] = false;
        return Task.CompletedTask;
    }

    private string localEditionName(string editionName)
    {
        clsEditionFile? editionFile = globalService.EditionFiles.FirstOrDefault(e => e.title == editionName);
        return Utils.GetEditionTitle(editionFile, lang);
    }
}
