@using System.Globalization
<Div Class="listControl">
    <Row Margin="Margin.Is1.FromTop">
        <Column>
            <h3>@caption</h3>
        </Column>
        <Column>
            <Buttons>
                <Button Style="background:#DCE7ED" Clicked="@OnClearAll">@clear</Button>
                <Button Style="background:#FBECD8" Clicked="@OnSelectAll">@all</Button>
            </Buttons>
        </Column>
    </Row>
    <Row>
        <Column>
            @if (globalService.Themes != null && globalService.Themes.Count > 0)
            {
                <TreeView Nodes="globalService.Themes"
                          id="themesTree"
                          TNode="clsTheme"
                          GetChildNodes="@(item => item.children)"
                          HasChildNodes="@(item => item.children?.Any() == true)"
                          ExpandedNodes="@expandedNodes"
                          SelectedNodes="selectedNodes"
                          SelectionMode="TreeViewSelectionMode.Multiple"
                          SelectedNodesChanged="OnSelectedNodesChanged"
                          @ref=_treeView>
                    <NodeContent>
                        <Icon Name="IconName.Lightbulb" />
                        @(fixName(context.name))
                    </NodeContent>
                </TreeView>
            }
            else
            {
                <p>Loading...</p>
            }
        </Column>
    </Row>
</Div>

@code {

}
