@using System.Globalization
<Div Class="basicControl bigControl">
    <Row Margin="Margin.Is1.FromTop">
        <Column ColumnSize="ColumnSize.Is4">
            <h3>@caption</h3>
            <AndOrRadio SelectedValueChanged="OnLogicalOperatorChanged" SelectedValue="globalService.logicalOperatorThemes" />
        </Column>
        <Column ColumnSize="ColumnSize.Is8">
            <Button Class="controlButton" Clicked="@OnClearAll">@clear</Button>
            <Button Class="controlButton" Clicked="@OnSelectAll">@all</Button>
            <Button Class="controlButton" Clicked="@OnClose">@close</Button>
        </Column>
    </Row>
    <Row>
        <Column>
            @if (globalService.Themes != null && globalService.Themes.Count > 0)
            {
                <Div Class="internalControl">
                    <TreeView Nodes="globalService.Themes"
                              id="themesTree"
                              TNode="clsTheme"
                              GetChildNodes="@(item => item.children)"
                              HasChildNodes="@(item => item.children?.Any() == true)"
                              ExpandedNodes="@expandedNodes"
                              ExpandedNodesChanged="OnExpandedNodeChanged"
                              SelectedNodes="selectedNodes"
                              SelectionMode="TreeViewSelectionMode.Multiple"
                              SelectedNodesChanged="OnSelectedNodesChanged"
                              @ref=_treeView>
                        <NodeContent>
                            <Icon Name="IconName.Lightbulb" />
                            @(fixName(context.name))
                        </NodeContent>
                    </TreeView>
                </Div>
            }
            else
            {
                <Spinner cClass="spinContainer" />
            }
        </Column>
    </Row>
</Div>

