@using System.Globalization
<Div Class="listControl">
    <Row Margin="Margin.Is1.FromTop">
        <Column>
            <h3>@caption</h3>
        </Column>
        <Column>
            <Buttons>
                <Button Style="background:#DCE7ED" Clicked="@OnClearAll">@clear</Button>
                <Button Style="background:#FBECD8" Clicked="@OnSelectAll">@all</Button>
            </Buttons>
        </Column>
    </Row>
    <Row>
        <Column>
            @if (globalService.Themes != null && globalService.Themes.Count > 0)
            {
                <TreeView Nodes="globalService.Themes"
                          id="themesTree"
                          TNode="clsTheme"
                          GetChildNodes="@(item => item.children)"
                          HasChildNodes="@(item => item.children?.Any() == true)"
                          ExpandedNodes="@expandedNodes"
                          SelectedNodes="selectedNodes"
                          SelectionMode="TreeViewSelectionMode.Multiple"
                          SelectedNodesChanged="OnSelectedNodesChanged"
                          @ref=_treeView>
                    <NodeContent>
                        <Icon Name="IconName.Lightbulb" />
                        @(fixName(context.name))
                    </NodeContent>
                </TreeView>
            }
            else
            {
                <p>Loading...</p>
            }
        </Column>
    </Row>
</Div>

@code {
    [Inject] GlobalService globalService { get; set; }
    [Inject] IJSRuntime JS { get; set; }
    [Parameter] public string caption { get; set; }
    [Parameter] public string clear { get; set; }
    [Parameter] public string all { get; set; }

    IList<clsTheme> selectedNodes = new List<clsTheme>();
    IList<clsTheme> expandedNodes = new List<clsTheme>();
    private TreeView<clsTheme> _treeView;

    protected override void OnInitialized()
    {
        globalService.OnGlobalThemesChanged += HandleGlobalThemesChange;
    }
    public void Dispose()
    {
        globalService.OnGlobalThemesChanged -= HandleGlobalThemesChange;
    }
    private void HandleGlobalThemesChange()
    {
        StateHasChanged();
        FixAlignment();
    }
    private string fixName(string name)
    {
        string n = name.Replace("_", " ").Replace("-", " ");
        n = char.ToUpper(n[0]) + n.Substring(1);
        return n;
    }
    async Task OnExpandedNodeChanged(IList<clsTheme> nodes)
    {
        // foreach (clsTheme node in globalService.Themes)
        // {
        //     if (nodes.Contains(node)) expandedNodes.Add(node);
        //     else if (expandedNodes.Contains(node)) expandedNodes.Remove(node);
        // }
        // foreach (clsTheme node in nodes)
        //     foreach (clsTheme child in node.children)
        //     {
        //         child.selected = true;
        //         selectedNodes.Add(child);
        //     }
        // globalService.diplayStories = Utils.displayStories(globalService);
        await FixAlignment();
    }

    async Task FixAlignment()
    {
        @if (CultureInfo.CurrentCulture.Name == "he-IL")
        {
            await JS.InvokeVoidAsync("changeClassStyle", "b-tree-view-node", "margin-left", "0");
            await JS.InvokeVoidAsync("changeClassStyle", "b-tree-view-node", "margin-right", "1.25rem");
            await JS.InvokeVoidAsync("changeClassStyle", "b-tree-view-node-title", "margin-left", "0");
            await JS.InvokeVoidAsync("changeClassStyle", "b-tree-view-node-title", "margin-right", "1.25rem");
            await JS.InvokeVoidAsync("changeClassStyle", "b-tree-view-node-icon", "float", "right");
            await JS.InvokeVoidAsync("changeClass", "fa-chevron-right", "fa-chevron-left");
        }
    }
    private void OnSelectedNodesChanged(IList<clsTheme> nodes)
    {
        bool topNodeSelectedBefore;
        bool topNodeSelectedNow;
        foreach (clsTheme node in globalService.Themes)
        {
            topNodeSelectedBefore=selectedNodes.Contains(node);
            node.selected = nodes.Contains(node);
            topNodeSelectedNow=node.selected && !topNodeSelectedBefore;

            foreach (clsTheme child in node.children)
            {
                child.selected = nodes.Contains(child);
            }
            if (topNodeSelectedNow)
            {
                expandedNodes.Add(node);
                selectedNodes.Add(node);
                foreach (clsTheme child in node.children)
                {
                    if (!selectedNodes.Contains(child))
                    {
                        selectedNodes.Add(child);
                        child.selected = true;

                    }
                }
            }
            else
                foreach (clsTheme child in node.children)
                {
                    if (selectedNodes.Contains(child))
                    {
                        selectedNodes.Remove(child);
                        child.selected = false;
                    }
                }
            _treeView.Reload();
        }

        // foreach (clsTheme node in globalService.Themes)
        // {
        //     foreach (clsTheme child in node.children)
        //     {

        //     }
        // }
        globalService.diplayStories = Utils.displayStories(globalService);
    }
    Task OnClearAll()
    {
        foreach (clsTheme node in globalService.Themes)
        {
            node.selected = false;
            foreach (clsTheme child in node.children)
            {
                child.selected = false;
            }
        }
        selectedNodes.Clear();
        globalService.diplayStories = Utils.displayStories(globalService);
        return Task.CompletedTask;
    }
    Task OnSelectAll()
    {
        selectedNodes.Clear();
        foreach (clsTheme node in globalService.Themes)
        {
            node.selected = true;
            selectedNodes.Add(node);
            foreach (clsTheme child in node.children)
            {
                child.selected = true;
                selectedNodes.Add(node);
            }
        }
        globalService.diplayStories = Utils.displayStories(globalService);
        return Task.CompletedTask;
    }

}
