@using System.Globalization
<Div Class="listControl">
    <h3>@caption</h3>
    @if (globalService.Themes != null && globalService.Themes.Count > 0)
    {
        <TreeView Nodes="globalService.Themes"
                  id="themesTree"
                  TNode="clsTheme"
                  GetChildNodes="@(item => item.children)"
                  HasChildNodes="@(item => item.children?.Any() == true)"
                  ExpandedNodesChanged="@OnExpandedNodeChanged"
                  SelectionMode="TreeViewSelectionMode.Multiple"
                  SelectedNodesChanged="selectedNodesChanged">
            <NodeContent>
                <Icon Name="IconName.Lightbulb" />
                @(fixName(context.name))
            </NodeContent>
        </TreeView>
    }
    else
    {
        <p>Loading...</p>
    }

</Div>

@code {
    [Inject] GlobalService globalService { get; set; }
    [Inject] IJSRuntime JS { get; set; }
    [Parameter] public string caption { get; set; }

    IList<clsTheme> selectedNodes = new List<clsTheme>();
    IList<clsTheme> expandedNodes = new List<clsTheme>();
    protected override void OnInitialized()
    {
        globalService.OnGlobalThemesChanged += HandleGlobalThemesChange;
    }
    public void Dispose()
    {
        globalService.OnGlobalThemesChanged -= HandleGlobalThemesChange;
    }
    private void HandleGlobalThemesChange()
    {
        StateHasChanged();
        FixAlignment();
    }
    private string fixName(string name)
    {
        string n = name.Replace("_", " ").Replace("-", " ");
        n = char.ToUpper(n[0]) + n.Substring(1);
        return n;
    }
    async Task OnExpandedNodeChanged()
    {
        await FixAlignment();
    }

    async Task FixAlignment()
    {

        @if (CultureInfo.CurrentCulture.Name == "he-IL")
        {
            // await JS.InvokeVoidAsync("changeClassStyle", "b-tree-view-node", "margin-left", "0");
            // await JS.InvokeVoidAsync("changeClassStyle", "b-tree-view-node", "margin-right", "1.25rem");
            // await JS.InvokeVoidAsync("changeClassStyle", "b-tree-view-node-title", "margin-left", "0");
            // await JS.InvokeVoidAsync("changeClassStyle", "b-tree-view-node-title", "margin-right", "1.25rem");
            await JS.InvokeVoidAsync("changeClassStyle", "b-tree-view-node-icon", "float", "right");
            await JS.InvokeVoidAsync("changeClass", "fa-chevron-right", "fa-chevron-left");
        }
    }
    private void selectedNodesChanged(IList<clsTheme> nodes)
    {
        foreach (clsTheme node in globalService.Themes)
        {
            //node.selected = nodes.Contains(node); as there are no top level themes in stories (need to chaeck)
            foreach (clsTheme child in node.children)
            {
                child.selected = nodes.Contains(child);
            }
        }

        // foreach (clsTheme node in globalService.Themes)
        // {
        //     foreach (clsTheme child in node.children)
        //     {

        //     }
        // }
        globalService.diplayStories = Utils.displayStories(globalService);
    }

}
