@page "/"
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Index> Localizer
@using clientHasidicStories.Components
<div class="controlsContainer">
    <Row>
        <Column ColumnSize="@myColumnSize">
            <Row><Editions caption="@Localizer["editions"]" clear="@Localizer["clear"]" all="@Localizer["all"]" /></Row>
            <Row Margin="Margin.Is2.FromTop">
                <People caption="@Localizer["people"]" clear="@Localizer["clear"]" all="@Localizer["all"]" />
            </Row>
        </Column>
        <Column ColumnSize="@myColumnSize">
            <Themes caption="@Localizer["themes"]" clear="@Localizer["clear"]" all="@Localizer["all"]" close="@Localizer["close"]" />
        </Column>
        <Column id="mapCol" ColumnSize="@myColumnSize" >
            <Map clear="@Localizer["clear"]" />
        </Column>
        <Column ColumnSize="@myColumnSize" Style="@mapPadding">
            <Stories caption="@Localizer["stories"]" close="@Localizer["close"]" />
        </Column>
    </Row>
</div>
