@page "/Story/{fileName}/{storyId}"
@using Microsoft.Extensions.Localization
@using System.Text.Json
@inject IStringLocalizer<Story> Localizer
@inject IJSRuntime JS
@inject IConfiguration Configuration

<div class="controlsContainer">
    <Row>
        <Column ColumnSize="@myColumnSize">
            <Row></Row>
            <Row Margin="Margin.Is2.FromTop">
                <StoryThemes caption="@Localizer["themes"]" />
            </Row>
            <Row Margin="Margin.Is2.FromTop">
                <People caption="@Localizer["people"]" />
            </Row>
        </Column>
        <Column ColumnSize="@myColumnSize" Style="direction:rtl">
            <StoryTEI fileName="@fileName" storyId="@storyId" />
        </Column>
        @if (showMap)
        {
            <Column ColumnSize="@myColumnSize">
                <StoryMap />
            </Column>
        }
    </Row>
</div>

@code {
    [Inject] GlobalService globalService { get; set; }
    [Parameter] public string fileName { get; set; }
    [Parameter] public string storyId { get; set; }
    private Blazorise.IFluentColumn myColumnSize;
    private bool showMap;

    protected override async Task OnInitializedAsync()
    {
        var stateJson = await JS.InvokeAsync<string>("localStorage.getItem", "places");
        if (!string.IsNullOrEmpty(stateJson))
        {
            clsPlaces places = JsonSerializer.Deserialize<clsPlaces>(stateJson, new JsonSerializerOptions { IncludeFields = true });

            showMap = places.Count > 0;
            if (showMap)
            {
                myColumnSize = ColumnSize.Is4;
                foreach(clsPlace place in places)
                {
                    place.selected = true;
                }
            }
            else myColumnSize = ColumnSize.Is6;

            globalService.Places = places;

            globalService.Points = JsonSerializer.Deserialize<clsGeoJson>(await JS.InvokeAsync<string>("localStorage.getItem", "points"), new JsonSerializerOptions { IncludeFields = true });

            globalService.Themes = JsonSerializer.Deserialize<clsThemes>(await JS.InvokeAsync<string>("localStorage.getItem", "themes"), new JsonSerializerOptions { IncludeFields = true });
        }
    }
    // protected override async Task OnAfterRenderAsync(bool firstRender)
    // {
    //     if (!firstRender)
    //     {
    //         globalService.Persons = new clsPersons();//temporary, just to fire the OnGlobalPersonsChanged event
    //     }
    // }

}
