@page "/Story/{fileName}/{storyId}"
@using Microsoft.Extensions.Localization
@using System.Text.Json
@inject IStringLocalizer<Story> Localizer
@inject IJSRuntime JS
@inject IConfiguration Configuration

<div class="controlsContainer">
    <Row>
        @if (showMap)
        {
            <Column ColumnSize="@myColumnSize">
                <Map />
            </Column>
        }
        <Column ColumnSize="@myColumnSize" Style="direction:rtl">
            <StoryTEI fileName="@fileName" storyId="@storyId" />
        </Column>
        <Column ColumnSize="@myColumnSize">
            <Row></Row>
            <Row Margin="Margin.Is2.FromTop"></Row>
            <Row Margin="Margin.Is2.FromTop"></Row>
        </Column>
    </Row>
</div>

@code {
    [Inject] GlobalService globalService { get; set; }
    [Parameter] public string fileName { get; set; }
    [Parameter] public string storyId { get; set; }
    private Blazorise.IFluentColumn myColumnSize;
    private bool showMap;

    protected override async Task OnInitializedAsync()
    {
        var stateJson = await JS.InvokeAsync<string>("localStorage.getItem", "places");
        if (!string.IsNullOrEmpty(stateJson))
        {
            clsPlaces places = JsonSerializer.Deserialize<clsPlaces>(stateJson, new JsonSerializerOptions { IncludeFields = true });

            showMap = places.Count > 0;
            if (showMap)
            {
                myColumnSize = ColumnSize.Is4;
                foreach(clsPlace place in places)
                {
                    place.selected = true;
                }
            }
            else myColumnSize = ColumnSize.Is6;

            globalService.Places = places;

            clsGeoJson points = JsonSerializer.Deserialize<clsGeoJson>(await JS.InvokeAsync<string>("localStorage.getItem", "points"), new JsonSerializerOptions { IncludeFields = true });
            globalService.Points = points;
        }
    }
}
